* {
  margin: 0;
  padding: 0;
}

body {
  background: #101010;
  overflow-x: hidden;
}

.wrapper-1 {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  //   transform: perspective(1000px);
  animation: rotate-360-hori linear infinite 10s;
  //   perspective: 1000px;
  // perspective-origin: top;
  position: relative;
  .heading {
    // width: 400px;
    background: linear-gradient(35deg, rgb(236, 134, 205), rgb(227, 230, 52));
    padding: 30px;
    border-radius: 12px;
    animation: reverse-360-hori linear infinite 10s;
    h2 {
      font-size: 90px;
      font-weight: 700;
      // text-decoration: underline;
      color: #000;
      text-align: center;
    }
  }
  .card-hori {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    color: white;
    background-image: url("https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg");
    background-size: cover;
    box-shadow: inset 2px 2px 10px white;
  }
}

.wrapper-2 {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  // transform-origin: 30% 50%;
  animation: rotate-360-vert linear infinite 10s;
  .heading {
    // width: 400px;
    background: linear-gradient(35deg, rgb(236, 134, 205), rgb(227, 230, 52));
    padding: 30px;
    border-radius: 12px;
    // margin-left: -300px;
    animation: reverse-360-vert linear infinite 10s;
    h2 {
      font-size: 90px;
      font-weight: 700;
      // text-decoration: underline;
      color: #000;
      text-align: center;
    }
  }
  .card-vert {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    color: white;
    background-image: url("https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg");
    background-size: cover;
    box-shadow: inset 2px 2px 10px white;
    // opacity: 0.5;
  }
}

@keyframes rotate-360-hori {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
}
@keyframes reverse-360-hori {
  from {
    transform: rotateY(0deg) translateY(-100px);
  }
  to {
    transform: rotateY(360deg) translateY(-100px);
  }
}
@keyframes rotate-360-vert {
  from {
    transform: perspective(1500px) rotateX(360deg) rotateY(0deg);
  }
  to {
    transform: perspective(1500px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes reverse-360-vert {
  from {
    transform: rotateX(0deg) translateY(0);
  }
  to {
    transform: rotateX(360deg) translateY(0);
  }
}

// Animate based on scroll event
.wrapper {
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  .scroll-animate {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    .item {
      width: 450px;
      height: 200px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 28px;
      font-weight: 900;
      text-transform: uppercase;
      font-family: sans-serif;
      background: url("https://t3.ftcdn.net/jpg/05/74/56/80/360_F_574568031_byh2FksrLAf9qeQkRfEMc4cQpRppakj7.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      box-shadow: inset 2px 2px 8px #fff;
    }
  }
}
